*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
*.yml
.idea/
/project/plugins/project
project/boot
/project/project/target/
/project/target/
target/
/logs
.cache
.classpath
.project
.settings
native/
project/target/
logs
target
.DS_Store
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.sonar/

